body{
    width:100%;
    height:100%;
    margin: 0 0 0 0;
    font-family: 'NeoDunggeunmo';
    font-size: large;
}

@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
}


#logojpg{
    position:fixed;
    width: 100px;
    height: 100px;
    z-index: 5;
}
.menu{
    width: 100%;
    height: 120px;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 2;
}
header{
    width: 120px;
    height: 120px;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}

.banner img{ 
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
}

a{
    text-decoration: none;
    color: #000000;
}

ul {
    font-size: x-large;
    height: 70px;
    list-style-type:none;
    /*padding-left:95px;*/
    padding-top: 50px;
    padding-left: 200px;
    padding: auto;
    float: left;
    margin:auto;
    position:fixed;
    background-color: #FFFFFF;
    z-index: 1;
    }
    
    
    ul li {
    display:inline;
    border-left: 1px solid #c0c0c0;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    
    }

    ul li:hover{
        display:inline;
        border-left: 1px solid #c0c0c0;
        padding: 0px 10px 0px 10px;
        margin: 5px 0px 5px 0px;
        background-color:#54a86b;
        }

    ul li:first-child {
        border-left: none;
    }

    .about{
        padding-top: 30px; 
        padding-left: 70px;
        font-size: large;
    }

    h2 mark{
        /*background-color: #10b03b;*/ /*theme color!*/
        background-color: #54a86b; /*new theme color!*/
        font-size: xx-large;
    }

    .about p mark{
        background-color:  #54a86b;
    }

    .wsv {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.4s ease-in-out;
    }
    .wsv:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
    }
    .env {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.4s ease-in-out;
    }
    .env:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
    }

    .abus {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.4s ease-in-out;
    }
    .abus:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
    }

    hr{
        margin-left: 20px;
        margin-right: 45px;
    }

    .companies{
        padding-left: 30px;
    }

    .companies div{
        border: solid 1px bold;
        border-style: solid ridge ridge ridge;
        width: 70%;
    }

    .companies p{
        margin-left: 20px;
        margin-right: 20px;
    }

    .companies h2{
        padding-left: 20px;
        margin:0;
        background-color:#000000;
        color:#54a86b;
    }

    .companies div{
        margin: 0 auto 30px auto;
    }

    .companies-introduce{
        padding-top: 10%; 
        padding-left: 30px;
    }

    .companies-introduce h2{
        padding-left: 250px;
    }
    
    .companies-introduce p{
        padding-left: 250px;
        padding-bottom: 50px;
    }

    .companies div {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.4s ease-in-out;
      }
      .companies div:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
      }

      .items-intro{
        padding-top: 200px; 
        padding-left: 30px;
        font-size: large;
      }

      .items img{
        float: left;
        padding-left: 30px;
      }

      h3 mark{
        margin-left: 10px;
        background-color:  #54a86b;
      }

    .items div p{
        color:#c0c0c0;
        margin-left: 240px;
    }

    .price{
        color:  #ff0000;
        margin-left: 240px;
        font-size: xx-large;
    }

    .price del{
        color:#636363;
    }

    .tem1{
        height: 220px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.6s ease-in-out;
    }

    .tem1:hover{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }

    .tem2{
        height: 220px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.6s ease-in-out;
    }

    .tem2:hover{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }

    .tem3{
        height: 220px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.6s ease-in-out;
    }

    .tem3:hover{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }


    .tem4{
        height: 220px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.6s ease-in-out;
    }

    .tem4:hover{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }


    .tem5{
        height: 220px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.6s ease-in-out;
    }

    .tem5:hover{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }

    .tem6{
        height: 220px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.6s ease-in-out;
    }

    .tem6:hover{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }


    .tem7{
        height: 220px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.6s ease-in-out;
    }

    .tem7:hover{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
